<launch>

<!-- Launching websocket -->
<!-- <include file="${find rosbridge_server}/launch/rosbridge_websocket.launch" /> -->

<!-- lauching DWM1001 node -->
<include file="${find localization_dwm1001}/launch/dwm1001.launch" />

<!-- launching IMU with orientation -->
<include file="${find adafruit_imu}/launch/imu_node.launch" />
  <node pkg="imu_filter_madgwick" name="imu_filter_node" type="imu_filter_node">
    <param name =  "_use_magnetic_field_msg" value ="true"/>
  </node>
</launch>